body{
    background-color: black;
    color: white;
    font-family: Arial;
}
.container{
    width: 350px;
    margin: 60px auto;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
input{
    padding: 12px;
    border: none;
    border-radius: 5px;

}
button{
    padding: 12px;
    background-color: gold;
    border: none;
    cursor: pointer;
}